@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;900&display=swap');

html{
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    max-width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: scroll;
    background: #E5E5E5;
    min-height: 100%;
}
.icon_button{
    margin-left: auto;
}

.user_avatar-container{
    display: flex;
    margin-left: auto;
}
.notification_span{
    background: #FFD74F;
    width: 9.6px;
    height: 9.6px;
    border-radius: 50px;
    position: absolute;
    margin-right: 10px;
    margin-top: 10px;
    right: 0;
    top: 0;
}

.btn_teacher-mode-container{
    margin-left: auto;
    flex-grow: 0;
}
.btn_teacher-mode{
    width: 186px;
    height: 34px;
    left: 1037px;
    top: 15px;
    background: #5F41CF;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    border: none;
    margin-right: 15px;
    margin-left: auto;
}

/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #b9b9b9;
    width: 100%;
    height: 100%;
    margin: 0;
}

#myDropdown{
    background-color:rgba(236, 236, 236, 0.747);
    overflow:hidden;
    position: fixed;
    top: 58px;
    left: 0;
    right: 0;
    z-index: -1;
    min-width: 100%;
}
/* Links inside the dropdown */
.menu_teacher-mode {
    z-index: 1;
    color: #7A57FD;
    font-weight: 700;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    top: 0;
    padding: 12px 35px;
    text-decoration: none;
    width: 100%;
    height: 65px;
    background: #ffffff;
}

.arrow-right_teacher-mode{
    color: #9FA3AF;
    
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
}
.hidden{
    display: none;
}

.container_header{
    flex-grow: 1;
    width: 100%;
    padding-left: 40px;
}

.title_header{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 34px;
    /* or 34px */
    color: #200E64;
}
.title_header  span{
    color: #FFD74F;
    font-size: larger;

}
.text_header{
    width: 85%;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    margin-top: 15px;
    /* or 22px */
    color: #343434;
}

.container_img-header{
    flex-grow: 2;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image_header{
    width: 85%;
    background-size: cover;
}
.detail_header{
    position: absolute;
    max-height: min-content;
    min-width: 3%;
    left: 0;
    margin-top: 10px;
    margin-left: -50px;
}

/* header and content API */
#content_all{
    z-index: -2;
    display: grid;
    padding-bottom: 120px;
}

/* courses */

.courses{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card_course{
    background: #FFFFFF;
    box-shadow: 0px 32px 60px rgba(84, 95, 122, 0.08);
    border-radius: 4px;
    max-width: 32.5%;
    padding: 12px;
    float: left;
    box-sizing: border-box;
    margin: 10px 0;
}

.image_course{
    border-radius: 4px ;
    width: 100%;    
    max-height: 60%;
    inline-size: cover;
    object-fit: cover;
}

.info_course{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.avaliation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 135px;
}

.star{
    color:#C4C4C4;
}
.star_checked{
    color:#FFC908;
}
.lessons_quantity{
    background: #ECE9F6;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
}
.lessons_quantity > a {
    text-decoration: none;
    font-weight: 500;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 160%;
    /* identical to box height, or 16px */
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #2F2F31;
}

.descritio_couser > h4 {
    margin-bottom: 5%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    /* or 29px */
    color: #200E64;
}

.loading_couurses{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #200E64;
}

footer{
    height: 60px;
    width: 100%;
    background: #FFFFFF;
    display: flex;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;    
}
footer > h4{
    width: 80%;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    color: #343434;
}
@media screen and (max-width: 1024px) {
    .courses {
      flex-wrap: wrap;
    }
    .card_course{
        max-width: 49%;
    }
  }

/* Responsive All */
@media only screen and (max-width: 800px) {
    #toolbar{
        width: 90%;
    }
    #my_classes{
        display: none;
    }
    #detail_nav{
        display: none;
    }
    #logo_container{
        flex-grow: 1;
    }
    #header{
        padding: 40px 20px;
    }
    .button_for-desktop {
        display: none;
    }
    .dropdown {
        display: inline-block;
      }
      .container_img-header{
          display: none;
      }
      .container_header{
        padding: 0;
    }
      .detail_header{
        position: absolute;
        max-height: 100px;
        right: 5%;
        left: auto;
        top: 8px;
    }
    .courses{
        flex-direction: column;
        align-items: center;
    }
    .card_course{
        min-width: 100%;
    }
  }

  @media screen and (max-width: 480px) {
    .courses {
      flex-wrap: wrap;
    }
  }
  @media only screen and (min-width: 760px) {
    .coursesr {
      justify-content: space-between;
      margin: 10px;
    }
  }

